body {
    background: #777777;
    text-align: center;
}

#main {
    width:50%;
    margin: 0 auto;
}

.box {
   
    background: #ebebeb;
    color:#777777;
    padding:10px;
    margin: 10px;
}

.container {
    width:100%;
}

section {
    width:55%;
}

#problemChild {
    padding: 0;
    margin: 0 10px 0 10px;
    height: 215px;
    width: 37%;
    float: right;
    
}

article {
    padding:10px;
    background: #777777;
    color: #ffffff;

}

.in-article {
    color: #777777;
    background:#ebebeb;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
}



